@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

body{
    /* height: "300px";
    width: "400px"; */
    color: #ffff;
}
* {
    scrollbar-width: thin;
    font-family: 'Lexend', sans-serif;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
    background-color: #D1D1D1;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #232438;
    border-radius: 14px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scrollingText {
    display: inline-block; /* Important: Force inline-block layout */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: scroll 30s linear infinite;
  }
  